<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Here are your places!</h1>
        <p> {{ newplace.getCityName }} </p>
        <!-- newplace array created in app.php -->
        <p><a href = '/'>View your list of places.</a></p>
    </body>
</html>
