<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Places I have Been</h1>
        <h3><em>Only the cool ones though!</em></h3>

        {% if places is not empty %}<!-- used to execute statements like if statements and foreach loops. -->
            <h3>Places:</h3>
            <ul>
                {% for place in places %}
                    <li>{{ place.getCityName }}<!--used to print the contents of variables or the result of calling a method.-->
                {% endfor %}
            </ul>
        {% endif %}


        <form action='/places' method='post'>
            <label for='place'>Place Name:</label>
            <input id='place' name='place' type='text'>

            <button type='submit'>Add task</button>
        </form>
        <form action='/delete_places' method='post'>
            <button type='submit'>Clear</button>
        </form>

    </body>
</html>
